.breadcrumb {
    background-color: #f8f8f8;
    padding: 10px 20px;
    font-size: 14px;
    margin-top: 100px;
}

.breadcrumb .container ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.breadcrumb .container ul li {
    margin-right: 10px;
}

.breadcrumb .container ul li a {
    color: #007bff;
    text-decoration: none;
}

.breadcrumb .container ul li::after {
    content: ">";
    margin-left: 10px;
    color: #6c757d;
}

.breadcrumb .container ul li:last-child::after {
    content: "";
}
